.card_section {
  margin-top: 20px;
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}

.card_name {
  /* margin-top: 100px; */
  text-align: center;
  z-index: 2;
  position: relative;
  /* width: 100%; */
  background-color: white;
}

.card_image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
  /* position: absolute; */
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

.card__wrapper {
  /* display: flex; */

}
