.main {
  width: 1440px;
  height: 822px;
  top: 260px;
  background-color: #f3f3f3;
}

.card_section {
  margin-left: 38px;
  margin-right: 41px;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: black;
}
