/* .modal {
  margin: 0;
  width: 498px;
  height: 610px;
  left: 471px;
  top: 106px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: rgba( 0, 0, 0, 0.5);
} */



/* .modal__content {
  background-color: white;
  position: relative;
  align-items: center;
  padding: 0;
} */
