.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 85px;
  margin-bottom: 24px;
  padding: 0 20px;
  font-family: 'Cabinet Grotesk';
  font-style: normal;
  font-weight: 500px;
  font-size: 16px;
  line-height: 20px;
}
